# Import Libraries

In [1]:
import yfinance as yf
import pandas as pd
from functools import reduce

Get data from Yahoo Finance <br>
Sample period: 2000-09-01 to 2009-01-23 (as stated by the paper)
## Gold

In [2]:
# gold
gold = yf.Ticker("GC=F")
print(gold.info)

{'exchange': 'CMX', 'shortName': 'Gold Feb 22', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'underlyingSymbol': 'GCG22.CMX', 'quoteType': 'FUTURE', 'symbol': 'GC=F', 'underlyingExchangeSymbol': 'GCG22.CMX', 'headSymbol': 'GC=F', 'market': 'us24_market', 'previousClose': 1789.2, 'regularMarketOpen': 1791, 'twoHundredDayAverage': 1798.297, 'trailingAnnualDividendYield': None, 'payoutRatio': None, 'volume24Hr': None, 'regularMarketDayHigh': 1798.4, 'navPrice': None, 'averageDailyVolume10Day': 152, 'totalAssets': None, 'regularMarketPreviousClose': 1789.2, 'fiftyDayAverage': 1804.212, 'trailingAnnualDividendRate': None, 'open': 1791, 'toCurrency': None, 'averageVolume10days': 152, 'expireDate': 1645660800, 'yield': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'beta': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 1781.3, 'priceHint': 2, 'currency': 'USD', 'regularMarketVolume': 218941, 'lastMarket': None, 'maxSupply': None, 'openInterest': 326320, 'marketCap': None, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 3715, 'priceToSalesTrailing12Months': None, 'dayLow': 1781.3, 'ask': 1796.6, 'ytdReturn': None, 'askSize': 900, 'volume': 218941, 'fiftyTwoWeekHigh': 1916.2, 'forwardPE': None, 'maxAge': 1, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1673.7, 'bid': 1796, 'tradeable': False, 'dividendYield': None, 'bidSize': 1400, 'dayHigh': 1798.4, 'regularMarketPrice': 1796.5, 'logo_url': ''}

In [3]:
gold_historical = gold.history(start="2000-09-01", end="2009-01-23", interval="1d")
gold_historical_close = gold_historical['Close']
gold_historical_close.rename('close_gold', inplace=True)
gold_historical_close

Date
2000-08-31    278.299988
2000-09-01    277.000000
2000-09-05    275.799988
2000-09-06    274.200012
2000-09-07    274.000000
                 ...
2009-01-15    806.700012
2009-01-16    839.299988
2009-01-20    854.599976
2009-01-21    849.599976
2009-01-22    858.200012
Name: close_gold, Length: 2056, dtype: float64

## Silver

In [5]:
# silver
silver = yf.Ticker("SI=F")
silver_historical = silver.history(start="2000-09-01", end="2009-01-23", interval="1d")
silver_historical_close = silver_historical["Close"]
silver_historical_close.rename('close_silver', inplace=True)
silver_historical_close

Date
2000-08-31     5.003
2000-09-01     5.004
2000-09-05     4.998
2000-09-06     4.983
2000-09-07     4.935
               ...
2009-01-15    10.420
2009-01-16    11.195
2009-01-20    11.158
2009-01-21    11.315
2009-01-22    11.357
Name: close_silver, Length: 2050, dtype: float64

## Aluminum (no data)

In [7]:
# aluminum
aluminum = yf.Ticker("ALI=F")
aluminum_historical = aluminum.history(start="2000-09-01", end="2009-01-23", interval="1d")
aluminum_historical

- ALI=F: Data doesn't exist for startDate = 967737600, endDate = 1232640000

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

## Copper

In [8]:
# copper
copper = yf.Ticker("HG=F")
copper_historical = copper.history(start="2000-09-01", end="2009-01-23", interval="1d")
copper_historical_close = copper_historical['Close']
copper_historical_close.rename('close_copper', inplace=True)
copper_historical_close

Date
2000-08-31    0.8850
2000-09-01    0.8890
2000-09-05    0.9060
2000-09-06    0.9015
2000-09-07    0.9060
               ...
2009-01-15    1.4385
2009-01-16    1.5135
2009-01-20    1.4900
2009-01-21    1.4190
2009-01-22    1.3810
Name: close_copper, Length: 2099, dtype: float64

## Crude Oil

In [10]:
# crude oil
oil = yf.Ticker("CL=F")
oil_historical = oil.history(start="2000-09-01", end="2009-01-23", interval="1d")
oil_historical_close = oil_historical['Close']
oil_historical_close.rename('close_oil', inplace=True)
oil_historical_close

Date
2000-08-31    33.099998
2000-09-01    33.380001
2000-09-05    33.799999
2000-09-06    34.950001
2000-09-07    35.330002
                ...
2009-01-15    35.400002
2009-01-16    36.509998
2009-01-20    38.740002
2009-01-21    43.549999
2009-01-22    43.669998
Name: close_oil, Length: 2099, dtype: float64

## Natural Gas

In [12]:
# natural gas
gas = yf.Ticker("NG=F")
gas_historical = gas.history(start="2000-09-01", end="2009-01-23", interval="1d")
gas_historical_close = gas_historical['Close']
gas_historical_close.rename('close_gas', inplace=True)
gas_historical_close

Date
2000-08-31    4.780
2000-09-01    4.835
2000-09-05    4.960
2000-09-06    5.065
2000-09-07    4.998
              ...
2009-01-15    4.843
2009-01-16    4.801
2009-01-20    4.642
2009-01-21    4.780
2009-01-22    4.681
Name: close_gas, Length: 2100, dtype: float64

In [14]:
# import requests

# api_key = 
# ticker = 'ALI=F'
# url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + ticker + '&outputsize=full' + '&apikey=' + api_key

# # https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&outputsize=full&apikey=demo
# r = requests.get(url)
# data = r.json()

# print(url)
# print(data)

# Merge all data into single dataframe

In [15]:
data_frames = [gold_historical_close, silver_historical_close, copper_historical_close, oil_historical_close, gas_historical_close]

final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='left'), data_frames)

final_df

            close_gold  close_silver  close_copper  close_oil  close_gas
Date
2000-08-31  278.299988         5.003        0.8850  33.099998      4.780
2000-09-01  277.000000         5.004        0.8890  33.380001      4.835
2000-09-05  275.799988         4.998        0.9060  33.799999      4.960
2000-09-06  274.200012         4.983        0.9015  34.950001      5.065
2000-09-07  274.000000         4.935        0.9060  35.330002      4.998
...                ...           ...           ...        ...        ...
2009-01-15  806.700012        10.420        1.4385  35.400002      4.843
2009-01-16  839.299988        11.195        1.5135  36.509998      4.801
2009-01-20  854.599976        11.158        1.4900  38.740002      4.642
2009-01-21  849.599976        11.315        1.4190  43.549999      4.780
2009-01-22  858.200012        11.357        1.3810  43.669998      4.681

[2056 rows x 5 columns]

In [16]:
# export data into csv
final_df.to_csv('data.csv', index = False)