In [1]:
import pandas as pd
import numpy as np

import math
from scipy.linalg import fractional_matrix_power

In [2]:
df = pd.read_csv('data.csv', index_col=None)
df

      close_gold  close_silver  close_copper  close_oil  close_gas
0     278.299988         5.003        0.8850  33.099998      4.780
1     277.000000         5.004        0.8890  33.380001      4.835
2     275.799988         4.998        0.9060  33.799999      4.960
3     274.200012         4.983        0.9015  34.950001      5.065
4     274.000000         4.935        0.9060  35.330002      4.998
...          ...           ...           ...        ...        ...
2051  806.700012        10.420        1.4385  35.400002      4.843
2052  839.299988        11.195        1.5135  36.509998      4.801
2053  854.599976        11.158        1.4900  38.740002      4.642
2054  849.599976        11.315        1.4190  43.549999      4.780
2055  858.200012        11.357        1.3810  43.669998      4.681

[2056 rows x 5 columns]

Tentatively, use only gold prices.

In [3]:
# df_gold = df['close_gold']
# df_gold

In [4]:
# daily price change
df['price_change'] = df['close_gold'].diff()

# stdev
df['std_5D'] = df['price_change'].rolling(window=5).std()
df

,close_gold,close_silver,close_copper,close_oil,close_gas,price_change,std_5D
0,278.299988,5.003,0.8850,33.099998,4.780,NaN,NaN
1,277.000000,5.004,0.8890,33.380001,4.835,-1.299988,NaN
2,275.799988,4.998,0.9060,33.799999,4.960,-1.200012,NaN
3,274.200012,4.983,0.9015,34.950001,5.065,-1.599976,NaN
4,274.000000,4.935,0.9060,35.330002,4.998,-0.200012,NaN
...,...,...,...,...,...,...,...
2051,806.700012,10.420,1.4385,35.400002,4.843,-1.500000,14.615838
2052,839.299988,11.195,1.5135,36.509998,4.801,32.599976,24.071028
2053,854.599976,11.158,1.4900,38.740002,4.642,15.299988,17.359791
2054,849.599976,11.315,1.4190,43.549999,4.780,-5.000000,17.969816
2055,858.200012,11.357,1.3810,43.669998,4.681,8.600037,14.983813

# Return Predictors

In [5]:
# average past 5 days' price changes, divided by past 5 days' standard deviation of daily price changes
df['f_5D'] = df['price_change'].rolling(window=5).mean() / df['std_5D']
df

,close_gold,close_silver,close_copper,close_oil,close_gas,price_change,std_5D,f_5D
0,278.299988,5.003,0.8850,33.099998,4.780,NaN,NaN,NaN
1,277.000000,5.004,0.8890,33.380001,4.835,-1.299988,NaN,NaN
2,275.799988,4.998,0.9060,33.799999,4.960,-1.200012,NaN,NaN
3,274.200012,4.983,0.9015,34.950001,5.065,-1.599976,NaN,NaN
4,274.000000,4.935,0.9060,35.330002,4.998,-0.200012,NaN,NaN
...,...,...,...,...,...,...,...,...
2051,806.700012,10.420,1.4385,35.400002,4.843,-1.500000,14.615838,-0.645875
2052,839.299988,11.195,1.5135,36.509998,4.801,32.599976,24.071028,-0.124631
2053,854.599976,11.158,1.4900,38.740002,4.642,15.299988,17.359791,0.395166
2054,849.599976,11.315,1.4190,43.549999,4.780,-5.000000,17.969816,0.328328
2055,858.200012,11.357,1.3810,43.669998,4.681,8.600037,14.983813,0.667387

In [6]:
# 1 year has 253 trading days
df['std_1Y'] = df['price_change'].rolling(window=253).std()
df['std_5Y'] = df['price_change'].rolling(window=253*5).std()

df['f_1Y'] = df['price_change'].rolling(window=253).mean() / df['std_1Y']
df['f_5Y'] = df['price_change'].rolling(window=253*5).mean() / df['std_5Y']
df

,close_gold,close_silver,close_copper,close_oil,close_gas,price_change,std_5D,f_5D,std_1Y,std_5Y,f_1Y,f_5Y
0,278.299988,5.003,0.8850,33.099998,4.780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,277.000000,5.004,0.8890,33.380001,4.835,-1.299988,NaN,NaN,NaN,NaN,NaN,NaN
2,275.799988,4.998,0.9060,33.799999,4.960,-1.200012,NaN,NaN,NaN,NaN,NaN,NaN
3,274.200012,4.983,0.9015,34.950001,5.065,-1.599976,NaN,NaN,NaN,NaN,NaN,NaN
4,274.000000,4.935,0.9060,35.330002,4.998,-0.200012,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2051,806.700012,10.420,1.4385,35.400002,4.843,-1.500000,14.615838,-0.645875,16.412185,9.409700,-0.022710,0.033377
2052,839.299988,11.195,1.5135,36.509998,4.801,32.599976,24.071028,-0.124631,16.493587,9.453372,-0.009897,0.035966
2053,854.599976,11.158,1.4900,38.740002,4.642,15.299988,17.359791,0.395166,16.522093,9.462582,-0.005957,0.037334
2054,849.599976,11.315,1.4190,43.549999,4.780,-5.000000,17.969816,0.328328,16.524725,9.463126,-0.007463,0.036555
2055,858.200012,11.357,1.3810,43.669998,4.681,8.600037,14.983813,0.667387,16.524301,9.465811,-0.007511,0.037397

# Equation (1)

In [7]:
u = np.random.normal(0,1,len(df)) # (mean, stdev, no of elements in array noise)

df['noise'] = u

In [8]:
# r[t+1] = B * f[t] + u[t+1]

# regression for predicted returns
df['r[t+1]'] = 0.001 + 10.32 * df['f_5D'] + 122.34*df['f_1Y'] - 205.59 * df['f_5Y'] + df['noise']

In [9]:
# variables
rho = 1 - math.exp(-0.02/260) # discount factor
lamda = 10 * 10^7 # scalar

returns = df['r[t+1]'].dropna(axis=0)
sigma = np.cov(returns)
gamma = 10**(-9)
arrow = lamda * sigma

# Transaction cost (TC)
# TC = 1/2 * dx_x[t].T * arrow * dx_x[t]

# Used in proof
rho_bar = 1 - rho # discount factor
arrow_bar = (1/rho_bar) * arrow

In [10]:
# S = number of assets
# B = S * K matrix, weights or coeffs of f[t]s
B = np.array([[0.001, 10.32, 122.34, -205.59]]).T
phi = np.array([[1, -0.2519, -0.0034, -0.0010]]).T

In [11]:
# f[t] = K * 1 vector, Sharpe Ratio
f_t = [1, df['f_5D'].iloc[-1], df['f_1Y'].iloc[-1], df['f_5Y'].iloc[-1]]

## From Proof

In [13]:
# M = fractional_matrix_power(arrow_bar, -0.5) * sigma * fractional_matrix_power(arrow_bar, -0.5)

M = arrow_bar**(-1/2) * sigma * arrow_bar**(-1/2)

A_xx = arrow_bar**(1/2) * ( (rho_bar*gamma*M + (1/4)*(rho+gamma*M)**2)**(1/2) - (1/2)*(rho+gamma*M) ) * arrow_bar**(1/2)
A_xx

0.0007936705916553898

In [14]:
J_t = gamma*sigma + arrow_bar + A_xx

# j_t = (B + A_xf*(np.identity(1) - phi))*f_t + arrow_bar* x[t]

In [15]:
A_xf = rho_bar * (np.identity(1)- np.outer(rho_bar*(np.identity(1) - phi).T, np.identity(1) - A_xx*(1/arrow)) )**-1 * (np.identity(1) - A_xx*(1/arrow)*B)
A_xf

array([[ 9.99923080e-01],
       [-3.97103920e+00],
       [-3.00933279e+02],
       [-1.08352002e+03]])